/* PaymentPage.css */
.payment-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url("C:/Users/Admin/Desktop/event/frontend/src/Assets/Images/paybg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  
  .payment-container {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .payment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .payment-form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .payment-form button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
  }
  